# Automatically normalize line endings for all text-based files
# https://git-scm.com/docs/gitattributes#_effects

* text=auto

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Exclude the following files when generating an archive
# https://git-scm.com/book/en/Customizing-Git-Git-Attributes#Exporting-Your-Repository

.editorconfig export-ignore
.gitattributes export-ignore
.github export-ignore
.npmignore export-ignore
.scripts export-ignore
.travis.yml export-ignore
archive.gif export-ignore
archive/README.md export-ignore
bower.json export-ignore
CHANGELOG.md export-ignore
package.json export-ignore
README.md export-ignore

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Exclude the following files from GitHub's language statistics
# https://github.com/github/linguist#using-gitattributes

.scripts/* linguist-vendored
