# Automatically normalize line endings for all text-based files
# http://git-scm.com/docs/gitattributes#_effects

* text=auto

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Exclude the following files when generating an archive
# http://git-scm.com/book/en/Customizing-Git-Git-Attributes#Exporting-Your-Repository

.gitattributes export-ignore
.npmignore export-ignore
CHANGELOG.md export-ignore
CONTRIBUTING.md export-ignore
bower.json export-ignore
generate-images.sh export-ignore
package.json export-ignore
scripts export-ignore
